<div id="title">
  <h1>{{title}}</h1>
  <h2>{{subtitle}}</h2>
  <p>{{mail}}</p>
</div>

<article class="about">
  <h2>Sobre mi</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus at risus vel tempus. Aliquam aliquam purus sit amet eros feugiat, ac tempus elit ornare. Maecenas sit amet ipsum vitae lectus euismod varius in quis turpis. Proin ac velit ut augue laoreet lobortis vel sed enim. Sed lobortis viverra nulla, vitae hendrerit metus convallis sit amet. Nam in elementum dui. Cras et vulputate risus. Donec accumsan diam vitae ornare interdum. Curabitur quis egestas mauris. Praesent at consectetur dui. Curabitur in risus leo. Cras semper, enim non molestie posuere, orci ex scelerisque elit, vitae eleifend tellus ipsum eu augue. Nulla a semper velit. In interdum quam sit amet lacus laoreet, sit amet sagittis nisl auctor. Pellentesque id orci nec ipsum semper lacinia.
  </p>
</article>
